<dialog class="modal" role="none" id="profileModal" #profileModal>
  <main class="modal-box">
    <h3 class="font-bold text-lg">{{ 'common.hello' | translate }}</h3>
    @if (hasEmail) {
      <p class="py-4">{{ 'common.userId' | translate: { userId: userId } }}</p>
      <p class="py-4">{{ 'common.emailIs' | translate: { email: email } }}</p>
    } @else {
      <p class="py-4">
        {{ 'common.youAreDisconnected' | translate }}
      </p>
      <section class="flex items-center">
        <a
          class="w-full text-white bg-indigo-600 hover:bg-indigo-700 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-indigo-800"
          [routerLink]="'login'"
          (click)="closeDialog()"
        >
          <i class="fas fa-right-to-bracket"></i>
          {{ 'common.login' | translate }}
        </a>
        <a
          class="w-full ml-4 text-white bg-indigo-600 hover:bg-indigo-700 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-indigo-800"
          [routerLink]="'signup'"
          (click)="closeDialog()"
        >
          <i class="fas fa-user-plus"></i>
          {{ 'common.signup' | translate }}
        </a>
      </section>
    }
    <footer class="modal-action">
      <button
        class="cursor-pointer w-full text-white bg-indigo-600 hover:bg-indigo-700 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-indigo-800"
        (click)="closeDialog()"
      >
        <i class="fas fa-ban"></i>
        {{ 'common.close' | translate }}
      </button>
    </footer>
  </main>
</dialog>